 
 body {
 	text-align: center;
 }

 body a:hover {
 	color: red;
 }

 main {
 	background-color: #659DBD;
 }

 header {
 	background-image: url("pictures/header.png");
 	border-bottom: 1px solid black;
 	display: flex;
 	justify-content: space-between;
 	padding: 40px;
 }

 header ul {
 	padding: 20px;
 }

 header ul a {
 	padding: 20px;
 }

 #links {
	font-size: 130%;
}

 #top {
 	padding-top: 20px;
 }

 nav li {
 	display: inline-block;
 	padding: 20px;
 }

h1 {
	color: #1D2731;
	font-size: 250%;
	font-family: "Arial Black";
}

h2 {
	color: #1D2731;
	font-family: "Helvetica";
	text-decoration: underline;
}

nav ul li:before {
	content: url("pictures/computer.png");
	margin-right: 5px;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	font-size: 120%;
}

#main:before {
	padding-right: 10px;
	content: url("pictures/download.png");
}

#main {
	color: #1D2731;
	font-size: 130%;
	margin-left: 200px;
	margin-right: 200px;
	text-indent: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	color: #1D2731
}

#projectLinks {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

