 
 body {
 	text-align: center;
 }

 body a:hover {
 	color: red;
 }

 main {
 	background-color: lightgrey;
 }

 header {
 	background-image: url("pictures/header.png");
 	display: flex;
 	justify-content: space-between;
 	padding: 40px;
 }

 header ul {
 	padding: 20px;
 }

 header ul a {
 	padding: 20px;
 }

 #top {
 	padding-top: 20px;
 }

 nav li {
 	display: inline-block;
 	padding: 20px;
 }

#links {
	font-size: 130%;
}

h1 {
	font-size: 200%;
	font-family: "Arial Black";
}

h2 {
	font-family: "Helvetica";
	font-style: italic;
}

nav ul li:before {
	content: url("pictures/computer.png");
	margin-right: 5px;
}

nav ul li {
	list-style-type: none;
	font-size: 120%;
}

p {
	margin-left: 400px;
	margin-right: 400px;
	text-indent: 50px;
	font-size: 110%;

}